*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
body{
  margin: 8px 15px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-weight: normal;
}
.font-bold{
  font-weight: bold;
}
.font-weight-normal{
  font-weight: normal;
}
.font-22{
  font-size: 22px;
}
.font-18{
  font-size: 18px;
}
.font-16{
  font-size: 16px;
}
.font-15{
  font-size: 15px;
}
.font-14{
  font-size: 14px;
}
.gray-text{
  color: #3e3d3f;
}
.container{
  max-width: 800px;
  margin: 0 auto;
}
hr{
  border: solid .5px rgba(0,0,0,.4);
  margin-bottom: 20px;
}
p{
  color: #3e3d3f;
}
.text-title{
  color: #005175;
  font-weight: normal;
}
.text-rigth{
  text-align: right;
}
.opacity-5{
  opacity: .5;
}
.form-group > *{
  display: block;
}

/*sections*/
.calculator-section{
  position: relative;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,.1);
  z-index: 1;
}
.result-section{
  max-height: 0;
  overflow: hidden;
}
.result-area{
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease-in .2s;
  background-color: #eaf6fa;
  padding: 20px;
}
.result-section.show{
  max-height: 500px;
  height: 500px;
}
.result-section.show .result-area{
  max-height: 500px;
  transition: max-height .7s ease-in .2s;
}

/*range input*/
.range-container{
  display: flex;
  line-height: 35px;
  color: #777;
  max-width: calc(100% - 55px);
}
.form-group{
  margin-top: 15px;
}
.form-group > .range-value{
  width: 45px;
  height: 35px;
  float: right;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
  line-height: 35px;
  color: #333;
}
input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border: none;
    border-radius: 100px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,.27);
    margin-top: -8px;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #1091cc;
    border-radius: 100px;
}
input[type=range]::-ms-fill-upper {
    background: #d8d8d8;
    border-radius: 100px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,.27);
}
input[type=range]:focus::-ms-fill-lower {
    background: #1091cc;
}
input[type=range]:focus::-ms-fill-upper {
    background: #d8d8d8;
}
/* ms edge styles */
@supports (-ms-ime-align:auto) {
  input[type="range"]{
    background-image: none !important;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
      margin-top: 0px;
  }
  input[type=range]::-webkit-slider-runnable-track {
      background: #d8d8d8;
  }
}
/* IE styles */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input[type="range"]{
    background-image: none !important;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
  }
}


/*currency input*/
.currencyinput{
  position: relative;
  margin-top: 5px;
}
.currencyinput > .dollar-sign{
  position: absolute;
  left: 20px;
  font-size: 16px;
  line-height: 45px;
  font-weight: normal;
}
.currencyinput > input{
  border: 1px solid #3e3d3f;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  width: 100%;
  padding-left: 32px;
  font-size: 16px;
  box-sizing: border-box;
}
.currencyinput > input:focus{
  outline: none;
  box-shadow: 0 0 2px rgba(62, 61, 63, 0.62);
}

/*input error*/
input.error{
  border-color: red;
}
.label-error{
  color: red;
  display: none;
}
.error ~ .label-error{
  display: block;
}
.currencyinput input.error:focus{
  border-color: inherit;
}

/*grid*/
.row{
  margin-left: -10px;
  margin-right: -10px;
}
.row::after{
  display: table;
  content: " ";
  clear: both;
}
.col-50{
  width: 50%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

/*buttons*/
.btn{
  width: 100%;
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.3px;
}
.btn:focus{
  outline: none;
}
.btn-blue{
  background-color: #0077c0;
  color: #fff;
}

/*table style*/
.result-table{
  width: 100%;
}
.result-table td{
  border-bottom: 1px solid #b2b2b2;
  padding: 5px 0;
  color: #3e3d3f;
}
.result-table tr:last-child td{
  border-bottom: 0;
}


.show-desktop{
  display: block;
}
.show-mobile{
  display: none;
}

/*desktop styles*/
@media (min-width: 800px) {
  .hide-desktop{
    display: none !important;
  }

  /*sections*/
  .calculator-section{
    width: 65%;
    float: left;
    box-sizing: border-box;
    padding: 34px 39px;
  }
  .result-section{
    width: 35%;
    height: auto;
    max-height: inherit;
    float: right;
  }
  .result-area{
    margin-top: 35px;
    max-height: none;
  }
  .result-table td{
    border-bottom: none;
    padding: 8px 0;
    display: block;
    text-align: left;
  }
  .result-table tr td:last-child{
    font-weight: bold;
  }
  .result-table tr:last-child td:first-child{
    border-top: 1px solid #b2b2b2;
  }
}
/*mobile styles*/
@media (max-width: 699px) {
  .hide-mobile{
    display: none !important;
  }
}
